@charset 'utf-8';

@font-face {
    font-family: "officialBraille";
    src: url("deploy/braille-font/officialBraille.ttf");
}


// Helpers Styles
@import "helpers/_mixins";
@import "helpers/_variables";

// Base Styles
@import "base/_normalize";
@import "base/_base";
@import "base/_typography";

// Components Styles
@import "components/_buttons";
@import "components/_forms";
@import "components/_navigation";

@import "fancy-box.css";
@import "components/_fancy-box";


// Layout Styles
@import "layout/_header";
@import "layout/_footer";
@import "layout/_application-header";

// Sections Styles
@import "sections/_index-content";
@import "sections/_work-content";
@import "sections/_about-content";
@import "sections/_contact-content";


// Misc Pages Styles
@import "sections/mine/_my-ceiling-disappeared-content";

// Projects Pages
@import "sections/project-page/_across-content";
@import "sections/project-page/_longstoryshort-content";
@import "sections/project-page/_mutter-content";
@import "sections/project-page/_kmrb-content";
@import "sections/project-page/_manray-content";
@import "sections/project-page/_highland-content";
@import "sections/project-page/_eye-content";
@import "sections/project-page/_prince-content";
@import "sections/project-page/_srs22-content";
@import "sections/project-page/_happy-sunshine-content";
@import "sections/project-page/_pigeon-content";


// Application Site Pages Styles
@import "sections/application/_application-site-content";
@import "sections/application/_application-about-content";
@import "sections/application/_application-work-content";

// Application Projects Pages Styles
@import "sections/application/projects-pages/_application-fromitoeye-content";
@import "sections/application/projects-pages/_application-lts-content";
@import "sections/application/projects-pages/_application-across-content";
@import "sections/application/projects-pages/_application-kmrb-content";
@import "sections/application/projects-pages/_application-manray-content";
@import "sections/application/projects-pages/_application-sunshine-content";
@import "sections/application/projects-pages/_application-srs22-content";
@import "sections/application/projects-pages/_application-vff23-content";
@import "sections/application/projects-pages/_application-webfolio-content";



body {
    background-color: $black;

    // cursor: url(https://www.linkpicture.com/q/default-cursor_1.png), auto;
    cursor: url('https://svgshare.com/i/10HH.svg'), auto;
    // cursor: wait;
}