/* =============
    Application Webfolio Hero
============= */

#webfolio-hero {
    #webfolio-hero-image {
        background-image: url(../img/project-page/webfolio/webfolio-hero.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;

        @include lg {
            background-position: center;
        }
    }
}

#webfolio-banner {
    @include md {
        padding: 20px 0 0 0;
    }
}

#webfolio-context-copy-container {
    @include md {
        padding: 0;
    }
}

#webfolio-process-map {
    @include md {
        padding: 40px 0;
    }

    // @include lg {
    //     margin-top: -70px;
    // }
}


#webfolio-design-step-12 {
    // padding-top: 50px;

    @include lg {
        padding-top: 0px;
    }

    position: relative;
    background-color: $black;

    >div {
        #webfolio-design-step-1 {
            padding-bottom: 10px;

            @include md {
                padding-bottom: 20px;
            }
        }
    }
}


#webfolio-idos-step12 {
    padding-bottom: 0;

    #webfolio-idos-step12-section-name {
        padding-bottom: 15px;

        @include lg {
            padding-bottom: 20px;
        }
    }

}

#webfolio-shades-step12 {
    padding-bottom: 0;

    #webfolio-shades-step12-section-name {
        padding-bottom: 15px;

        @include lg {
            padding-bottom: 20px;
        }
    }

}

#webfolio-design-step-3 {
    padding-bottom: 0;

    #webfolio-design-step-3 {
        padding-bottom: 15px;

        @include lg {
            padding-bottom: 20px;
        }
    }

}

#webfolio-build-step-4-codepen {
    padding-top: 20px;
    padding-bottom: 20px;

    @include md {
        padding-top: 30px;
    }

    @include lg {
        padding-top: 40px;
    }

    >div {
        iframe {
            height: 40vh;
            width: 100%;

            @include md {
                height: 45vh;
            }

            @include lg {
                height: 50vh;
            }
        }
    }
}


#webfolio-kg-step3 {
    img {
        object-fit: contain;
    }
}


#webfolio-build-step-4-copy {
    padding-bottom: 0;

    #webfolio-build-step-4 {
        padding-bottom: 15px;

        @include lg {
            padding-bottom: 20px;
        }
    }

}

// img.laptop-column {
//     object-fit: contain;
// }


#most-team-copy-container {
    padding-top: 30px;
    padding-bottom: 50px;

    @include md {
        padding-top: 60px;
    padding-bottom: 70px;
    }
}