/* =============
    Contact Content 
============= */

#contact-container {
    margin-top: 100px;

    #contact-content {

        @include md {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas: "info form";
        }

        #contact-left {
            grid-area: info;

            @include md {
                width: 80%;
            }

            @include lg {
                // width: 60%;
            }

            h1 {
                font-size: rem-calc(24);
                font-weight: 400;

                @include md {
                    font-size: rem-calc(40);
                    line-height: rem-calc(54);
                }

                @include lg {
                    font-size: rem-calc(52);
                    line-height: rem-calc(70);
                    width: 80%;
                }
            }

            p {
                margin-top: 20px;
                font-size: rem-calc(16);
                line-height: rem-calc(24);

                @include md {
                    margin-top: 40px;
                }

                @include lg {
                    font-size: rem-calc(18);
                    line-height: rem-calc(26);
                    width: 60%;
                }
            }

            a {
                color: $white;
                text-decoration: none;
            }

        }

        #contact-form {
            grid-area: form;

            margin-top: 50px;

            p {
                font-size: rem-calc(16);
                line-height: rem-calc(24);

                @include md {
                    width: 80%;
                }

                @include lg {
                    font-size: rem-calc(18);
                    line-height: rem-calc(26);
                    width: 70%;
                }
            }

            #contact-form {
                #form {
                    display: grid;
                    gap: 40px;

                    @include md {
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-areas: "name email"
                            "message message"
                            ". send";

                    }

                    section {

                        input {
                            margin-top: 10px;
                            border: 1px $white solid;
                            border-radius: 8;
                            width: 90%;
                            padding: 4% 0 10px 10px;
                            background-color: $black;
                            color: $white;

                            @include md {
                                width: 100%;
                            }
                        }


                        textarea {
                            margin-top: 10px;
                            border: 1px $white solid;
                            border-radius: 8;
                            width: 90%;
                            height: 100px;
                            padding: 4% 10px;
                            color: $white;
                            background-color: $black;

                            @include md {
                                width: 95%;
                            }
                            @include lg {
                                width: 98%;
                            }
                        }

                        ::placeholder {
                            /* Chrome, Firefox, Opera, Safari 10.1+ */
                            color: $placeholder;
                            opacity: 1;
                        }

                        :-ms-input-placeholder {
                            /* Internet Explorer 10-11 */
                            color: $placeholder;
                        }

                        ::-ms-input-placeholder {
                            /* Microsoft Edge */
                            color: $placeholder;
                        }

                    }

                    section:nth-child(1) {
                        @include md {
                            grid-area: name;
                        }
                    }

                    section:nth-child(2) {
                        @include md {
                            grid-area: email;
                        }
                    }

                    section:nth-child(3) {
                        @include md {
                            grid-area: message;
                        }
                    }

                    section:nth-child(4) {
                        padding-bottom: 30px;

                        .button {
                            background-color: $black;
                            border: 1px $white solid;
                            border-radius: 26px;
                            color: $white;
                            padding: 10px 25px;
                            display: block;
                            margin-left: auto;
                            margin-right: auto;

                            @include md {
                                font-size: rem-calc(20);
                                padding: 10px 30px;
                                margin-left: 0;
                            }

                            &:hover {
                                transition: .25s;
                                background-color: $yellow;
                                border: 1px $yellow solid;
                                color: $black;
                                font-style: italic;
                            }
                        }

                        @include md {
                            margin-left: -70px;
                            grid-area: send;
                        }
                    }
                }

            }
        }
    }
}