/* =============
    Across Hero
============= */

#across-hero {
    #hero-image {
        background-image: url(../img/project-page/across/across-hero.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}