/* =============
    Across Hero
============= */

#across-hero {
    #hero-image {
        background-image: url(../img/project-page/across/across-hero.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

/* =============
    Branding
============= */
#across-branding {

    position: relative;
    background-color: $black;
    padding-top: 20px;

    @include md {
        padding-top: 40px;
    }

    #across-branding-banner {

        #across-banner-container {

            display: grid;
            grid-template-columns: "auto 95% auto";
            grid-template-areas: ". banner .";

            #across-brand-banner {
                grid-area: banner;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        #across-branding-copy-container {
            padding: 30px 0 10px;
        }
    }

    #across-branding-gallery {

        #across-brand-gallery-container-1, #across-brand-gallery-container-2, #across-brand-gallery-container-3 {

            display: grid;
            grid-template-columns: "auto 95% auto";
            grid-template-areas: ". banner .";

            padding-bottom: 10px;

            @include md {
                padding-bottom: 20px;
            }

            a {
                grid-area: banner;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

#across-package-copy-container {

    position: relative;
    background-color: $black;
    padding-top: 30px;

    @include md {
        padding-top: 35px;
    }

}


/* =============
    Process
============= */

#across-package-process {
    padding-top: 30px;

    @include lg {
        padding-top: 50px;
    }

    #across-process-name {
        h3 {
            text-align: center;
            color: $yellow;
        }
    }

    #across-package-process-gallery {

        padding-top: 15px;

        @include md {
            padding-top: 20px;
        }
    }
}

