/* =============
    from i to eye Hero
============= */

#eye-hero {
    #eye-hero-image {
        background-image: url(../img/project-page/eye/eye-hero.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;

        @include lg {
            background-position: center;
        }
    }
}