/* =============
    Komorebi Hero
============= */

#kmrb-hero {
    #kmrb-hero-image {
        background-image: url(../img/project-page/kmrb/kmrb-hero.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}