/* =============
    Long Story Short Hero
============= */

#lts-hero {
    #lts-hero-image {
        background-image: url(../img/project-page/longstoryshort/lts-hero.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
