/* =============
    Mutter Hero
============= */

#mutter-hero {
    #mutter-hero-image {
        background-image: url(../img/project-page/mutter/mutter-hero.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}