/* =============
    Le Petit Prince Hero
============= */

#prince-hero {
    #prince-hero-image {
        background-image: url(../img/project-page/prince/prince-hero.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;

        @include lg {
            background-position: center;
        }
    }
}